:root {
  cursor: url('./assets/cursor-03.png'), auto;
  --pink: #FF0037;
  --white: #FFF4EC;
  --green: #62C370;

 
}

body {
  margin: 0;
  font-family: GT-Pressura-Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color:var(--pink);
}

.title {
  flex-grow: 4;
  font-size: 4vw;
  margin:auto;
  padding-left: 5%;
  letter-spacing: .4em;
  text-align: center;
  display: flex;
  vertical-align: middle;
}

.selected {
  border: dashed 1px var(--pink);
  border-radius: 15px;
  padding: 1%;
}

a {
  text-decoration: none;
  color:var(--pink);
  cursor: url('./assets/cursor-04.png'), pointer;
}

.about-text {
  font-size: 35px;
}

span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-grow:2;
}

.navigation-list {
  display:flex;
  padding:0;
  justify-content: center;
}

.navigation-list li {
  display:flex;
  margin: 10px 40px;
  list-style: none;
  font-size: 2vw;
  letter-spacing: .2em;
  cursor: url('./assets/cursor-04.png'), pointer;
}

.img {
  height:50%;
  width: 50%;
  margin:0;
  padding: 0;
}

.project-container {
  border-radius: 15px;
  border: dashed 1px var(--pink);
  margin: 20px;
}

.project-elements {
  margin: 20px;
}

.tags {
  border-radius: 5px;
  background-color: var(--pink);
  color: var(--white);
  padding: 5px;
  margin: 5px 20px;
  width: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
