:root {
  /* cursor: url('./assets/i3.png'), auto; */
  --pink: #FF0037;
  --white: #FFF4EC;
  --green: #62C370;
 
}

.transitionInIntro{
  animation: transitionInIntro 1.5s;
}

.transitionOutIntro {
  animation-name: transitionOutIntro;
  animation-duration: 1s;
  animation-delay: 5s;
}

.transitionIn {
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity:0;
    transform: rotateX(-40deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0)
  }
}

@keyframes transitionInIntro {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionOutIntro {
  from {
    opacity: 1;
  }
  to {
    opacity:0;
  }
}

body {
  margin: 0;
  font-family: GT-Pressura-Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color:black;
}

.intro {
  text-align: center;
  width: 100%;
  padding:30% 0 0 0;
  margin:0;
  letter-spacing: .3em;
}

.footer {
  text-align: center;
  font-size: .8em;
  padding: 0;
  margin: 5%;
  letter-spacing: .3em;
}

.logo {
  letter-spacing: .3em;
  text-align: center;
}

.title {
  flex-grow: 4;
  font-size: 4vw;
  margin:auto;
  padding-left: 5%;
  letter-spacing: .4em;
  text-align: center;
  display: flex;
  vertical-align: middle;
}

.selected {
  border-bottom: dashed 1px black;
  padding: 1%;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  /* cursor: url('./assets/cursor-04.png'), pointer; */
}

#about,
#work,
#contact,
.logo {
  cursor: pointer;
}


.container {
  display: flex;
  justify-content: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.about-text {
  font-size: 35px;
  width: 85%;
  text-align: justify;
  color: var(--black);
  margin: 2% 0 10% 0;
}

span {
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px; */
  animation-name: transitionIn;
  animation: transitionIn 4s;
  animation-delay: transitionIn 4s;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-grow:2;
}

.navigation-list {
  display:flex;
  padding:0;
  justify-content: center;
}

.navigation-list li {
  display:flex;
  margin: 10px 40px;
  list-style: none;
  font-size: 1.5vw;
  letter-spacing: .2em;
  /* cursor: url('./assets/cursor-04.png'), pointer; */
}

p {
  padding: 0;
  margin: 0;
}

.img {
  width: 30%;
  margin:0;
  padding: 10px;
}
.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  width: 100%;

}

.project-container {
  border-radius: 15px;
  width: 45%;
  margin: 2% 2%;
  padding:0px;
  overflow: hidden;
  flex-wrap: wrap;
}

video {
  text-align: center;
  width: 90%;
  margin: 5%;
  border-radius: 15px;
}

.project-title {
  margin:0 4% 4% 4%;
  letter-spacing: 0.2em;

}

.project-elements {
  margin: 4%;
  letter-spacing: 0.2em;
  color: var(--black);
  text-align: justify;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tags {
  border-radius: 5px;
  border: dashed 1px black;
  color: black;
  padding: 5px;
  margin: 5px;
  width: fit-content;
}

.icon {
  height: 50px;
  width: 60px;
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 900px) {
  .project-container {
    width: 90%;
  }

  .navigation-list li {
    font-size: 4vw;
    margin: 10px;

  }

  .img {
    width: 50%;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    height: 100px;
    width: 120px;
    margin-top: 50px;
  }

  .intro {
    margin-top: 20%;
  }
}
